
#headLine {
  font-family: Georgia;
  background-color: white;
  color: black;
  position: relative;
  text-align: center;
  border: 3px solid #000000;
}
#userStory {
  font-size: 22px;
  font-family: Georgia;
  width: 400px;
  height: 200px;
  background-color: white;
  position: static;
  text-align: center;
  display: block;
  border: 5px solid #000000;
  margin: 5px auto;

}
.textBox{
  position: static;
  background-color: white;
  border: 5px solid #000000;
  text-align: center;
  width: 50%;
  margin: 20px auto;
}
.opener{
  font-size: 18px;
  font-family: Georgia;
  width: 300px;
  height: 200px;
  background-color: white;
  position: static;
  text-align: center;
  display: block;
  border: 5px solid #000000;
  margin: 5px auto;

}
body {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/af/Question_mark.png');
  background-color: #226666;
  background-blend-mode: lighten;
  background-size: 10%;
}
div #userStory {
  text-align: center;
}
