
#headLine {
  font-family: Georgia;
  background-color: white;
  color: black;
  position: relative;
  text-align: center;
  border: 3px solid #000000;
  margin: 30px auto;
  width: 400px;
  left: 100%;
  opacity: 0.6;
}
#userStory {
  font-size: 22px;
  font-family: Georgia;
  width: 400px;
  height: 200px;
  background-color: white;
  position: static;
  text-align: center;
  display: block;
  margin: 5px auto;


}
.textBox{
  position: absolute;
  background-color: white;
  border: 5px solid #000000;
  text-align: center;
  width: 50%;
  margin: 20px auto;
  float: auto;
  right: 30%;
  height: 1000px;
  opacity: .6;
}
.opener{
  font-size: 18px;
  font-family: Georgia;
  width: 300px;
  height: 200px;
  background-color: white;
  position: static;
  text-align: center;
  display: block;
  margin: 5px auto;

}
.topTen{
  width: 20%;
  position: fixed;
  background-color: white;
  border: 5px solid black;
  right: 20px;
  margin: 20px auto;
  opacity: 0.6;
}
h2{
  text-align: center;
}
.sideBar{
  background-color: white;
  corder: 5px solid black;
  position: fixed;
  height: 800px;
  border: 5px solid black;
  opacity: 0.6;
  font-family: Georgia;
  font-size: 18px;
  padding-right: 10px;
}

body {
  background-image: url('http://bgfons.com/upload/lines_texture1095.jpg');
  background-color: #226666;
  background-blend-mode: lighten;
  background-size: 100%;
  display: inline-block;
}
div #userStory {
  text-align: center;
}
